
<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>

Last Updated : {{ last_updated }}

<div class="container">
    <div class="item item-1">
        Weight<br>
        {{ weight }}
    </div>
    <div class="item item-2">
        BMI<br>
        {{ bmi }}
    </div>
</div>

{{ data }}

</body>
</html>




