<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>



    {%- include header.html -%}



    <main class="page-content" aria-label="Content">
      <div class="sidebar">
        <ul>
          <div class="trigger">
          
          <img src="/assets/img/alex-laverty-camera.png" style="border-radius: 25%;">
          <ul>
            <li><a href="/">Home</a></li>
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
              <li><a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
              {%- endif -%}
            {%- endfor -%}
            <li><a href="/manly-beach">Manly Beach</a></li>
            <li><a href="/laverty-family-history">Laverty Family</a></li>
            <li><a href="/nutrition">Nutrition</a></li>
            <li><a href="/tech">Tech</a></li>
            <li><a href="/video">Video</a></li>
            <li><a href="/donate">Donate</a></li>
            <li><a href="/list.html">Family List</a></li>
            <li><a href="/map.html">Family Map</a></li>
          </ul>

          </div>
        </ul>

      </div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>



  </body>

</html>
